* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #5e5e5e;
  font-family: 'Press Start 2P', cursive;
}

.water {
  color: #22e1eb;
}

.ice {
  color: #a0e9e5;
}

.fire {
  color: #fe925e;
}

header {
  text-align: center;
}

header h1 {
  padding-block: 50px;
  font-size: 50px;
}

header p {
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 20px;
}

main {
  max-width: 1000px;
  margin: 20px auto;
}

.powers {
  display: flex;
  list-style: none;
  width: 65%;
  justify-content: space-around;
  border: 7px solid #5e5e5e;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  gap: 30px;
  height: 200px;
}

hr {
  width: 50%;
  margin: 40px auto;
}

.info {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 65%;
  margin: 0 auto;
  border: 7px solid #5e5e5e;
  padding: 20px;
  height: 200px;
}

.enemy {
  border-right: 3px solid #5e5e5e;
  width: 40%;
  padding-right: 30px;
  padding-left: 20px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.enemy h3 {
  padding-bottom: 20px;
}

.game-stats {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 10px;
  width: 60%;
}

.btn {
  color: white;
  background-color: #ffa3a3;
  padding: 20px 60px;
  border-radius: 5px;
  border: 3px solid #dadaff;
  font-size: 20px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #f77676;
}

footer {
  font-size: 20px;
  width: 100%;
  margin-top: 30px;
  padding: 15px;
  position: absolute;
  bottom: 0;
  text-align: center;
  border: 7px solid #5e5e5e;
  background-color: white;
}
